<div class="col-md-12">
  <div class="card">
    <div class = "card-header display-flex justify-space-between">
      <div class = "font-title">{{title}}</div>
      <div class = "font-date">Posted by {{user.name}} on {{format_date date_created}}</div>
    </div>

  <p class = "card-body">{{description}}</p>
  </div>
</div>

<br>

{{#each CommentList as |comment| }}
<div class="col-md-12">
    <div class="card" >
      <h4 class = "card-header"> &nbsp </h4>

      <p class = "card-body">{{comment.description}}</p>    
      <p class = "card-body">--{{comment.user}}, {{format_date comment.date_created}}</p>    

    </div>
  </div>

<br>

{{/each}}